@model BancoMexicoWeb.Areas.Admin.Models.TurnosEstatsViewModel
@{
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<section class="contenido">

    <a href="~/Admin/Cajeros/Agregar" class="Agregar">Agregar Cajas</a>
    <div class="estadisticas">
        <div class="estadisticas__container">
            <label>Turnos Atendidos</label>
            <span>@Model.Atendidos</span>
        </div>
        <div class="estadisticas__container">
            <label>Turnos Cancelados</label>
            <span>@Model.Cancelados</span>
        </div>
       
    </div>
<table>
    <thead>
        <tr>
            <th>Turno</th>
            <th>Caja</th>
            <th>Estado</th>
            <th>Fecha Inicio</th>
            <th>Fecha Término</th>
            <th>Tiempo Tardado</th>
        </tr>
    </thead>
    <tbody>
            @foreach(var item in Model.TurnosInf)
            {
                
                <tr>
                <td>@item.Numero</td>
                <td>@item.CajaNombre</td>
                <td>@item.Estado</td>
                <td>@item.FechaAtencion?.ToString("dd/MMMM/yyyy hh:mm:ss")</td>
                    <td>@item.FechaTermino?.ToString("dd/MMMM/yyyy hh:mm:ss")</td>
                <td>@item.Tiempo.Minutos minutos @item.Tiempo.Segundos segundos</td>
            </tr>
            }
       
        <!-- Más filas pueden añadirse aquí -->
    </tbody>
</table>
</section>